# ==============================================
#   PLANTILLA DE VARIABLES DE ENTORNO
#   Copia este archivo como ".env" y reemplaza
# ==============================================

# Puerto en el que correrá el servidor
PORT=4000

# Cadena de conexión a MongoDB (MongoDB Compass)
MONGODB_URI=mongodb://127.0.0.1:27017/cursemia
